.search-filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-filter input,
.search-filter select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-filter button {
  background-color: var(--accent);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.search-filter button:hover {
  background-color: #6d4212;
}